/**
 * Insprired by https://codesandbox.io/s/crt-terminal-in-css-js-tlijm
 * and http://aleclownes.com/2017/02/01/crt-display.html
 */

@font-face {
  font-family: "IBMVGA8";
  src: url("assets/fonts/Web437_IBM_VGA_8x14.woff") format("woff");
}

:root {
  font-family: "IBMVGA8", "VT323", "Consolas", "Courier New", monospace;
  --color: #5bf870;
  --bg: #05321e;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background: var(--bg);
  background-image: radial-gradient(ellipse, var(--bg) 0%, #050505 90%);
  background-attachment: fixed;
  color: var(--color);
  font-size: 32px;
}

::selection {
  background: var(--color);
  color: var(--bg);
  text-shadow: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  pointer-events: none;

  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size:
    100% 0.5rem,
    0.6rem 100%;
}

#overlay::after {
  content: "";
  width: 100%;
  height: 100px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 5s linear infinite;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }

  40% {
    bottom: 100%;
  }

  100% {
    bottom: -10%;
  }
}

#screen {
  padding: 2em 1.5em;
  overflow-x: hidden;
  overflow-y: auto;
}

.input[contenteditable="true"] {
  /** This hides the default browser caret */
  caret-color: transparent;
  /* caret-shape: block; */
  outline: none;
}

.input {
  position: relative;
  /* display: inline-block; */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-all;
}

/* Inserts prompt symbol/text before terminal input */
.input:before {
  content: attr(data-prompt-symbol);
  white-space: nowrap;
}

.input .char.blink {
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

.input[contenteditable="true"] .showNewLine::before {
  content: " ";
}

/* Puts a blinking square after the content as replacement for caret */
.input[contenteditable="true"].blink::after,
.typer.active:not(.input[contenteditable="true"] ~ .typer.active)::after {
  content: " ";
  background: var(--color);
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
}

.typer {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

/* 
 * This makes the caret (:after) show correctly after the previously typed character.
 * Otherwise the caret is always on new line
 */
[contenteditable="true"] br:last-child {
  display: none;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    background: var(--color);
    color: var(--bg);
  }

  25% {
    background: transparent;
    color: var(--color);
  }

  75% {
    background: var(--color);
    color: var(--bg);
  }

  100% {
    background: var(--color);
    color: var(--bg);
  }
}
